@font-face {
  font-family: "Recoleta";
  src: url("../fonts/recoleta-semibold-webfont.eot");
  src: url("../fonts/recoleta-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/recoleta-semibold-webfont.woff2") format("woff2"),
    url("../fonts/recoleta-semibold-webfont.woff") format("woff"),
    url("../fonts/recoleta-semibold-webfont.ttf") format("truetype"),
    url("../fonts/recoleta-semibold-webfont.svg#recoletasemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1168px;
  margin: auto;
}

/* --------------HEADER------------- */

header {
  background: #163a24;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 24px;
}

header nav ul li a {
  color: #fbfaf7;
  text-align: right;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header nav ul li:last-of-type a {
  border-radius: 160px;
  background: #198c36;
  padding: 15px 25px;
  transition: 0.3s;
}

header nav ul li:last-of-type a:hover {
  background: #025116;
}

/* --------------HERO------------- */

.hero {
  background: #163a24;
  padding: 120px 0 129px;
}
.hero .container {
  display: flex;
  position: relative;
}

.hero h1 {
  color: #fbfaf7;
  font-family: Recoleta;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 65.25px; /* 135.938% */
  max-width: 391px;
  margin-bottom: 18px;
}

.hero p {
  color: #fbfaf7;
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  max-width: 475px;
}

.hero img {
  position: absolute;
  top: -120px;
  right: -54px;
}

/* --------------PUT------------- */

.put {
  padding-top: 120px;
}

.put .container {
  display: flex;
  gap: 99px;
  justify-content: center;
  align-items: center;
}

.put h2 {
  color: #163a24;
  font-family: Recoleta;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  margin-bottom: 27px;
  max-width: 325px;
}

.put p {
  color: #163a24;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  max-width: 374px;
}

/* --------------PLAY------------- */

.play .container {
  display: flex;
  gap: 99px;
  justify-content: center;
  align-items: center;
}

.play h2 {
  color: #163a24;
  font-family: Recoleta;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  margin-bottom: 27px;
  max-width: 376px;
}

.play p {
  color: #163a24;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  max-width: 380px;
}

/* --------------PARTNER------------- */

.partner {
  padding-top: 113px;
  padding-bottom: 121px;
}

.partner h2 {
  color: #163a24;
  text-align: center;
  font-family: Recoleta;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  margin-bottom: 66px;
}

.partner--container--img {
  display: flex;
  gap: 86px;
  justify-content: center;
  align-items: center;
}

/* --------------PRODUCTION------------- */

.production {
  padding-top: 66px;
  padding-bottom: 154px;
  background: #163a24;
}

.production h2 {
  color: #fbfaf7;
  text-align: center;
  font-family: Recoleta;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  margin-bottom: 67px;
}

.production--art {
  display: flex;
}

.production--art article {
  width: 295px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.production img {
  margin-bottom: 28px;
}

.production p {
  color: #fbfaf7;
  text-align: center;
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

/* --------------EMPLOYEES------------- */

.employees {
  padding-top: 114px;
  padding-bottom: 135px;
  background: #f2efe6;
}

.employees h2 {
  max-width: 739px;
  margin: auto;
  color: #163a24;
  text-align: center;
  font-family: Recoleta;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  margin-bottom: 27px;
}

.employees p {
  max-width: 760px;
  margin: auto;
  color: #163a24;
  text-align: center;
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  margin-bottom: 2px;
}

/* --------------SCENES------------- */

.scenes {
  padding-top: 180px;
  padding-bottom: 114px;
}

.scenes .container {
  display: flex;
  gap: 99px;
  justify-content: center;
  align-items: center;
}

.scenes h2 {
  color: #163a24;
  font-family: Recoleta;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  margin-bottom: 27px;
  max-width: 338px;
}

.scenes p {
  color: #163a24;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  max-width: 379px;
}

/* --------------CONSIDER------------- */

.consider {
  padding-bottom: 120px;
}

.consider h2 {
  color: #163a24;
  text-align: center;
  font-family: Recoleta;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  margin-bottom: 26px;
}

.consider p {
  color: #163a24;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  margin-bottom: 18px;
}

.consider--container {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: start;
}

.consider article {
  border-radius: 15px;
  background: #fbfaf7;
  box-shadow: 5px 5px 20px 0px #e9e4d5;
  max-width: 353px;
  width: 100%;
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 66px;
}

.consider img {
  margin-bottom: 20px;
}

.consider h3 {
  color: #163a24;
  font-family: Recoleta;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.5px; /* 112.5% */
  margin-bottom: 23px;
}

.consider ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.consider li {
  color: #163a24;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 25px;
  position: relative;
}

.consider li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #163a24;
  border-radius: 50px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

/* --------------EASY------------- */

.easy {
  padding-top: 114px;
  padding-bottom: 124px;
  background: #f2efe6;
}

.easy h2 {
  color: #163a24;
  text-align: center;
  font-family: Recoleta;
  font-size: 47px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 114.894% */
  margin-bottom: 26px;
}

.easy p {
  color: #163a24;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

.easy--container {
  margin-top: 18px;
  display: flex;
  align-items: center;
  padding: 23px 46px 23px 0;
  justify-content: space-between;
}

.easy--container--1 {
  display: flex;
  gap: 28px;
}

.easy--container article,
.easy--container--1 article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  width: 262px;
}

.easy--container--1 p,
.consider--container p {
  color: #163a24;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

.easy--container--1 span,
.easy--container span {
  color: #163a24;
  text-align: center;
  font-family: Recoleta;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.5px; /* 112.5% */
}

.easy--container article:last-child {
  background-image: url(../images/easy.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 285px;
  height: 179px;
  padding-top: 25px;
}

.easy--container article:last-child p {
  margin-bottom: 15px;
}

.easy--container article:last-child span {
  font-size: 30px;
}

.easy--container article:last-child p,
.easy--container article:last-child span {
  width: 262px;
}

.easy a {
  display: block;
  margin: auto;
  width: 244px;
  color: #fbfaf7;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 160px;
  background: #198c36;
  padding: 15px 25px;
  transition: 0.3s;
}

.easy a:hover {
  background: #025116;
}

/* --------------JUST------------- */

.just {
  padding: 120px 0;
}

.just .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 98px;
}

.just article {
  max-width: 393px;
}

.just h2 {
  color: #163a24;
  font-family: Recoleta;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  margin-bottom: 25px;
}

.just p {
  color: #163a24;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  margin-bottom: 34px;
}

.just a {
  color: #fbfaf7;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 160px;
  background: #198c36;
  padding: 15px 25px;
  transition: 0.3s;
}

.just a:hover {
  background: #025116;
}

/* --------------STARTED------------- */

.started {
  background: #163a24;
}

.started .container {
  max-width: 1440px;
  padding-top: 114px;
  padding-bottom: 124px;
}

.started .container {
  background-image: url(../images/started-left.png),
    url(../images/started-right.png);
  background-repeat: no-repeat;
  background-position: bottom left, right bottom;
}

.started h2 {
  color: #fbfaf7;
  text-align: center;
  font-family: Recoleta;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  margin-bottom: 26px;
}

.started p {
  color: #fbfaf7;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  margin-bottom: 33px;
}

.started a {
  color: #163a24;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 160px;
  background: #fab5a0;
  padding: 15px 25px;
  margin: auto;
  display: block;
  width: 258px;
  transition: 0.3s;
}

.started a:hover {
  background: #e05532;
}

/* --------------STAY------------- */

.stay {
  background: #f2efe6;
  padding-top: 54px;
  padding-bottom: 79px;
}

.stay h2 {
  color: #163a24;
  font-family: Recoleta;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  margin-bottom: 26px;
}

.stay p {
  color: #163a24;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

.stay .container {
  display: flex;
  gap: 248px;
}

.stay form {
  max-width: 553px;
}

.form--container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 11px;
}

.stay input[type="text"] {
  width: 100%;
  height: 54px;
  border-radius: 255px;
  border: 1px solid #f2efe6;
  background: #fff;
  padding-left: 25px;
  transition: 0.3s;
}

.stay input[type="text"]:hover {
  border-color: #e05532;
}

.stay input::placeholder {
  color: black;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.stay input:hover::placeholder {
  color: #e05532;
}

.stay input[type="submit"] {
  color: #fbfaf7;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 160px;
  background: #15762e;
  padding: 15px 25px;
  position: absolute;
  right: -37px;
  transition: 0.3s;
}

.stay input[type="submit"]:hover {
  background: #025116;
}

.stay p {
  color: #163a24;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.form--link {
  color: #198c36;
}

.form--link:hover {
  color: #025116;
}

/* --------------FOOTER------------- */

footer {
  padding-top: 20px;
}

.footer--cont--top {
  padding: 21px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 31px;
}

.footer--cont--top article {
  display: flex;
  gap: 14px;
}

.footer--cont--top p {
  color: #163a24;
  text-align: center;
  font-family: Recoleta;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
}

.footer--cont--top::after {
  position: absolute;
  content: "";
  max-width: 1168px;
  width: 100%;
  height: 1px;
  background: #f2efe6;
  bottom: -25px;
}

.footer--cont--bottom {
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer--cont--bottom article {
  display: flex;
  gap: 14px;
}

.footer--cont--bottom p {
  color: #163a24;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.footer--cont--bottom a {
  color: #198c36;
  text-align: right;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s;
}

.footer--cont--bottom a:hover {
  color: #025116;
}
